.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
# Fichiers de développement/documentation
ICON_GUIDE.md
PUBLISHING.md
TESTING.md
icon.svg
yarn.lock
